body{
    background-color: peachpuff;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  } 
h1{
    color: purple;
    text-align: center;
    background: orange;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}